

@media only screen and (max-width:768px) {

    body{
        overflow-x: hidden;
    }

    .header {
        padding: 45px 12px 59px 71px;
    }

    .grid-container {
        align-items: center;
        justify-content: center;
    }

    strong {
        font-size: 27px;
    }

    .main img {
        height: 450px;
        left: 0;
    }

    .main {
        height: 60vh;
    }

    input {
        width: 35vw;
        bottom: 26%;
        left: -2%;
        padding: 10px;
    }

    h2 {
        letter-spacing: 7px;
    }

    .bg {
        height: 165vh;
    }

    footer p {
        max-width: 1400px;
        width: 100%;
        transform: translate(-85%, -50%);
    }

    .link li {
        font-size: 14px;
    }

    .footerLogo {
        position: relative;
        left: 19%;
        top: 11px;
    }

    .heads{
        background-position: 41% 75%;
    }



}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 100px;
        column-gap: 90px;
        row-gap: 80px;

    }
}

/*saumya mobile*/

@media only screen and (max-width:468px) {

    .navbar {
        display: none;
    }

    .header {
        padding-left: 42px;
    }

    .main {
        display: flex;
        flex-direction: row;
    }

    .home-line {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 0;
        left: 0;
        transform: translate(0, 90%);
        z-index: 2000;
    }

    .main img {
        height: 400px;
        bottom: 0;
        left: 0;
        top: 10%;
    }

    .grid-container {
        grid-template-columns: none;
    }

    footer p {
        display: none;
    }

    i {
        display: block;
        text-align: center;
        color: rgb(150, 150, 150);
        font-size: 12px;
    }

    .footerLogo {
        position: relative;
        left: 10%;
        top: -145px;
    }

    .link li {
        font-size: 10px;
    }
}



/* @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .bg{
        height: 174vh;
    }


} */

/*sunny mobile*/
@media only screen and(max-width:300px) {
    .bg{
        height: 178vh;
    }
}